<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Added</title>
</head>
<body>
<div class="navigation">
    <a href="#" class="active">Home</a>
    <a th:href="@{/updateCustomerProfile}">Update Profile</a>
    <a href="/" style="float:right">Logout</a>
    <a th:href="@{/{userName}/cart (userName=${userName})}">Cart</a>
    <a th:href="@{/{userName}/myBookings (userName=${userName})}">My Bookings</a>
    <a class="active" href="#" style="float:right" th:text="${userName}"></a>
    <a th:href="@{/{userName}/cart (userName=${userName})}">Cart</a>
</div>
<h2>Added to Cart</h2>
</body>
</html>