<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Tables</title>
</head>
<body>
<div class="navigation">
    <a href="/adminRestaurant">Home</a>
    <a href="/viewDineIn">ViewDineIn</a>
    <a href="/viewMenu">Deliver</a>
    <a href="/viewAccounts">Accounts</a>
    <a class="active" href="#" style="float:right" th:text="${userName}"></a>
    <a href="/" style="float:right">Logout</a>
</div>
<br/>
<form  method="post" th:object="${table}">
    <div class="form-group">
        <input type="text" placeholder="Enter Table Name" th:field="*{tables}" name="tables" required/>
        <label for="price">Price</label>
        <input type="text" class="form-control" required th:field="*{price}" name="price" id="price" placeholder="Enter Price">
        <input type="hidden" th:name="dineInShows"  th:value="${tables}">
    </div>

    <button type="submit" class="addbtn" >ADD</button>
</form>
</body>
</html>