<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Your Restaurant</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
.navigation {
  overflow: hidden;
  background-color: #333;
}

.navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: lightgrey;
  color: black;
}

.navigation a.active {
  background-color: #ff656c;
  color: white;
}
body, html {height: 100%;font-family:times-new-roman;}

.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('img.png');
  min-height: 90%;
}
</style>
</head>
<body  style="background-color:powderblue">

<div class="navigation">
    <a class="active" href="/">Home</a>
    <a href="#about" class="w3-bar-item w3-button">About</a>
    <a href="#myContact" class="w3-bar-item w3-button">Contact</a>
    <a href="/login" style="float:right">Login</a>
    <a href="/register" style="float:right">Register</a>
</div>

<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div>
        <marquee><h2><span style="font-size:50px;color:white">Welcome to <b>YOUR HOME FOOD RESTAURANT</b></span></h2></marquee>
    </div>
    <div class="w3-display-bottomleft w3-padding">
        <span class="w3-tag w3-xlarge">Open from 10am to 12pm</span>
    </div>

</header>


<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
    <div class="w3-content">
        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">About</h1>
        <p>The Pizza Restaurant was founded in blabla by Mr. Italiano in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p><strong>The Chef?</strong> Mr. Italiano himself<img src="/w3images/chef.jpg" style="width:150px" class="w3-circle w3-right" alt="Chef"></p>
        <p>We are proud of our interiors.</p>
        <img src="/w3images/onepage_restaurant.jpg" style="width:100%" class="w3-margin-top w3-margin-bottom" alt="Restaurant">
        <h1><b>Opening Hours</b></h1>

        <div class="w3-row">
            <div class="w3-col s6">
                <p>Mon & Tue CLOSED</p>
                <p>Wednesday 10.00 - 24.00</p>
                <p>Thursday 10:00 - 24:00</p>
            </div>
            <div class="w3-col s6">
                <p>Friday 10:00 - 12:00</p>
                <p>Saturday 10:00 - 23:00</p>
                <p>Sunday Closed</p>
            </div>
        </div>

    </div>
</div>

<!-- Contact -->
<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge" id="myContact">
    <div class="w3-content">
        <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
        <p>Find us at some address at some place or call us at 05050515-122330</p>
        <p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
        <p class="w3-xxlarge"><strong>FeedBack</strong>:</p>
        <form action="/action_page.php" target="_blank">
            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required name="Name"></p>


            <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message" required name="Message"></p>
            <p><button class="w3-button w3-light-grey w3-block" type="submit">SEND MESSAGE</button></p>
        </form>
    </div>
</div>


</body>
</html>