<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Cart</title>
</head>
<body>
<div class="navigation">
    <a href="#" class="active">Home</a>
    <a th:href="@{/viewProfile}">View Profile</a>
    <a href="/" style="float:right">Logout</a>
    <!--    <a class="nav-link" th:href="@{/{userName}/cart (userName=${userName})}"><span> My Cart </span></a>-->
    <a th:href="@{/{userName}/myBookings (userName=${userName})}">My Bookings</a>
    <a class="active" href="#" style="float:right" th:text="${userName}"></a>
    <a th:href="@{/cart}">My Cart</a>
</div>
<h2>Added to My Cart</h2>
<h4>Check Cart to Pay</h4>
</body>
</html>