<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Menu</title>
    <style>
         .navigation {
  overflow: hidden;
  background-color: #333;
  width:100%;
    z-index:1;
    top:0;
    left:0;
}

.navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigation a:hover {
  background-color: lightgrey;
  color: black;
}

.navigation a.active {
  background-color: #ff656c;
  color: white;
  }
    </style>
</head>
<body>
<div class="navigation">
    <a href="/adminRestaurant" class="active">Home</a>
    <a href="/viewDineIn">ViewDineIn</a>
    <a href="/viewMenu">Deliver</a>
    <a th:href="@{/viewUsersAccount}">Accounts</a>
    <a class="active" href="#" style="float:right" th:text="${userName}"></a>
    <a href="/" style="float:right">Logout</a>
</div>
<br/>
<div>
    <form  method="post" th:object="${menu}">
        <div>
            <label for="name">Dish Name</label>
            <input type="text" required th:field="*{name}" name="name" id="name"  placeholder="Enter Dish Name">
            <label for="price">Price of the Dish</label>
            <input type="text" required th:field="*{price}" name="price" id="price" placeholder="Enter Dish Price">

        </div>

        <button type="submit">ADD</button>
    </form>
</div>
</body>
</html>